.reset-password-container {
    max-width: 700px;
    margin: 0 auto;
   
  }
  
  .reset-password-container div {
    margin-bottom: 15px;
  }
  
  .reset-password-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .reset-password-container input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }
  
  .reset-password-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-password-container button:disabled {
    background-color: #ccc;
  }
  
  .reset-password-container .message {
    margin-top: 15px;
    color: green;
    font-size: 14px;
  }
  