<div class="reset-password-container auth">
  <div class="logo">
    <img src="https://www1.grouponcdn.com/merchant/center/login/assets/merchant-logo-vertical-215f9c282a.svg"/>
</div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="password">New Password:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="resetPasswordForm.controls.password.invalid && resetPasswordForm.controls.password.touched">
          <span *ngIf="resetPasswordForm.controls.password.errors?.['required']">Password is required.</span>
          <span *ngIf="resetPasswordForm.controls.password.errors?.['minlength']">Password must be at least 6 characters long.</span>
        </div>
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="resetPasswordForm.controls.confirmPassword.invalid && resetPasswordForm.controls.confirmPassword.touched">
          <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['required']">Confirm Password is required.</span>
          <span *ngIf="resetPasswordForm.controls.confirmPassword.errors?.['minlength']">Confirm Password must be at least 6 characters long.</span>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid"><a routerLink='/login' >Reset</a></button>
    </form>
    <div>
      <!-- <a class="auth-a" routerLink="/login">Login here</a> -->
    </div>
    <div *ngIf="message" class="message">{{ message }}</div>
  </div>
  