<div style="display: flex">
  <div>
    <nav class="side-nav">
      <h1>GROUPON</h1>
      <ul>
        <li style="list-style-type: none">
          <span>Campaigns</span>

          <ul>
            <li (click)="selectSection(1)">Active</li>
            <li (click)="selectSection(2)">Drafts</li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <nav class="top-nav">
      <div class="nav-title"></div>
      <div class="nav-buttons">
        <button class="nav-button">Redeem</button>
        <button class="nav-button">New Campaign</button>
      </div>
    </nav>
    <div>
      <ng-container *ngIf="selectedSection === 1">
        <div *ngFor="let item of campaigns; let i = index">
          <div *ngIf="item.isActive === true">
            <a (click)="onItemClick(item)">
              <h3>{{ item.name }}</h3>
            </a>
            <p>Launched on</p>
            <hr />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
