<nav class="top-nav">
  <div class="nav-title">
    <img src="../download.svg" />
    GROUPON Merchant
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="onHelpClick()">
      <i class="fa fa-question-circle"></i> Help
    </button>
    <button class="nav-button" (click)="onPreviewClick()">
      <i class="fa fa-eye"></i> Preview
    </button>
    <button class="nav-button" (click)="onSaveExitClick()">
      <i class="fa fa-save"></i> Save & Exit
    </button>
  </div>
</nav>
<div class="container">
  <nav class="side-nav">
    <ul>
      <li (click)="selectSection('section1')">
        Options
        <i *ngIf="isCompleted('section1')" class="icon-completed">&#9989;</i>

        <i
          *ngIf="!isCompleted('section1')"
          class="fa fa-exclamation icon-not-completed"
        ></i>
      </li>
      <li (click)="selectSection('section2')">
        Photos
        <i *ngIf="isCompleted('section2')" class="icon-completed">&#9989;</i>
        <i *ngIf="!isCompleted('section2')" class="icon-not-completed"></i>
      </li>
      <li (click)="selectSection('section3')">
        Highlights
        <i *ngIf="isCompleted('section3')" class="icon-completed">&#9989;</i>

        <i
          *ngIf="!isCompleted('section3')"
          class="fa fa-exclamation icon-not-completed"
        ></i>
      </li>
      <li (click)="selectSection('section4')">
        Description
        <i *ngIf="isCompleted('section4')" class="icon-completed">&#9989;</i>
      </li>
      <li (click)="selectSection('section5')">
        Fine Print
        <i *ngIf="isCompleted('section5')" class="icon-completed">&#9989;</i>
      </li>
      <li (click)="selectSection('section6')">
        Voucher instructions
        <i *ngIf="isCompleted('section6')" class="icon-completed">&#9989;</i>
      </li>
      <li (click)="toggleBusinessInfo(); selectSection('section7')">
        <span> Business Info</span>
        <i class="fa fa-chevron-down" [class.collapsed]="!businessInfoOpen"></i>
      </li>
      <ul *ngIf="businessInfoOpen">
        <li (click)="selectBusinessInfo('info1')" class="businessinfo">
          Business Description
          <i *ngIf="isCompleted('info1')" class="icon-completed">&#9989;</i>
        </li>
        <li (click)="selectBusinessInfo('info2')" class="businessinfo">
          Business Website
          <i *ngIf="isCompleted('info2')" class="icon-completed">&#9989;</i>
        </li>
        <li (click)="selectBusinessInfo('info3')" class="businessinfo">
          Business Type
          <i *ngIf="isCompleted('info3')" class="icon-completed">&#9989;</i>
        </li>
        <li (click)="selectBusinessInfo('info4')" class="businessinfo">
          Payment Info
          <i *ngIf="isCompleted('info4')" class="icon-completed">&#9989;</i>
        </li>
        <li (click)="selectBusinessInfo('info5')" class="businessinfo">
          Tax Info
          <i *ngIf="isCompleted('info5')" class="icon-completed">&#9989;</i>
        </li>
      </ul>
      <li (click)="selectSection('section8')">
        Review
        <i *ngIf="isCompleted('info1')" class="icon-completed">&#9989;</i>
      </li>
      <li (click)="selectSection('section9')">Submit</li>
    </ul>
  </nav>
  <div class="main-content">
    <ng-container *ngIf="selectedSection === 'section1'">
      <h2>Customize your options</h2>
      <p>
        Review the options that customers will be able to buy from your campaign
        page. We recommend offering multiple options to broaden your reach.
      </p>
      <div>
        <div style="display: flex; justify-content: space-between">
          <h4>Your options</h4>
          <a href="#" (click)="openModal('type1'); $event.preventDefault()"
            >+ Add a new option</a
          >
        </div>
        <hr />
        <div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <h4>Option1</h4>
            <div>
              <a
                style="padding-right: 5px"
                (click)="openModal('type2'); $event.preventDefault()"
                >Remove</a
              ><span>|</span>
              <a style="padding-left: 5px">Edit</a>
            </div>
          </div>
          <h5>
            Three Loads of Laundry with pick-up, wash, dry, fold, and delivery
            (30lbs max)
          </h5>
          <ul style="list-style-type: none">
            <li>Regular price:</li>
            <li>Groupon price:</li>
            <li>Monthly voucher cap:</li>
          </ul>
        </div>
        <a (click)="openModal('type1'); $event.preventDefault()"
          >+ Add a new option</a
        >
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'section2'">
      <h2>Which photos would you like to use?</h2>
      <label>
        <input type="radio" name="values" value="Use my own photo(s)" />Use my
        own photo(s)
      </label>
      <label>
        <input type="radio" name="values" value="Choose a stock photo" />Choose
        a stock photo
      </label>
      <p
        style="
          background-color: rgb(243, 240, 240);
          padding: 10px;
          border-radius: 10px;
        "
      >
        <b>Recommendation:</b>Using your own photos helps customers imagine
        their experience and gives you a chance to show off your business.
      </p>
      <hr />
      <div>
        <h4>Choose from our stock photo library</h4>
        <p
          style="
            background-color: rgb(240, 214, 176);
            padding: 10px;
            border-radius: 10px;
          "
        >
          No images to display
        </p>
      </div>

      <div style="display: flex; gap: 10px">
        <a href="">Get more help</a>
        <span>|</span>
        <a href="">Preview this section</a>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'section3'">
      <h2>What makes your campaign stand out?</h2>
      <p>
        Briefly describe the highlights of your business and campaign in 1–2
        sentences.
      </p>
      <div>
        <p>Highlights</p>
        <textarea
          placeholder="Skilled tailors craft a bespoke Italian cotton shirt in the locally owned, longstanding shop "
          style="
            border: 1px solid rgb(226, 222, 222);
            width: 300px;
            height: 100px;
          "
        >
        </textarea>
        <div class="highlight">
          <span style="font-weight: bold">Example:</span>
          <p>
            Skilled tailors craft a bespoke Italian cotton shirt in the locally
            owned, longstanding shop
          </p>
        </div>
      </div>
      <div style="display: flex; gap: 10px">
        <a href="">Get more help</a>
        <span>|</span>
        <a href="">Preview this section</a>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'section4'">
      <h2>What's included in each option?</h2>
      <p>
        List out what's included in each of this campaign's options to give
        customers a better understanding of what to expect.
      </p>
      <h5>Options</h5>
      <ul style="list-style-type: square">
        <li>
          Three Loads of Laundry with pick-up, wash, dry, fold, and delivery
          (30lbs max)
        </li>
        <li>
          Five Loads of Laundry with pick-up, wash, dry, fold, and delivery (80
          lbs max)
        </li>
        <li>
          One Month subscription (weekly service) 3 loads with pick-up, wash,
          dry, fold, and delivery (30 lbs max)
        </li>
        <li>
          One Month subscription (weekly service) 5 loads with pick-up, wash,
          dry, fold, and delivery (80 lbs max)
        </li>
      </ul>
      <p>Description</p>
      <textarea placeholder="Example:"></textarea>
      <div class="highlight">
        <span style="font-weight: bold">Example</span>
        <ul style="list-style-type: square">
          <li>
            What's included: a bespoke button-down shirt in choice of 30 colors
            and styles of Italian cotton
          </li>
          <li>Two 30-minute fitting appointments required.</li>
        </ul>
      </div>
      <div style="display: flex; gap: 10px">
        <a href="">Get more help</a>
        <span>|</span>
        <a href="">Preview this section</a>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'section5'">
      <h2>Customize the fine print for this campaign.</h2>
      <div>
        <h4>Required fine print</h4>
        <p>Review and update the following terms and limits.</p>
      </div>
      <div>
        <h5>How many vouchers can each customer purchase?</h5>
        <div>
          <button class="count" (click)="decrement()">-</button>
          <span style="font-weight: 500">{{ count }}</span>
          <button class="count" (click)="increment()">+</button>
        </div>
        <div class="highlight">
          <span style="font-weight: bold">Note:</span>
          <p>
            Groupon merchants are encouraged to let customers buy multiple
            vouchers for themselves and others. When customers buy multiple
            quantities, it improves the likelihood that they'll become repeat
            customers.
          </p>
        </div>
      </div>

      <div>
        <h5>In how many days can customers repurchase vouchers?</h5>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label>
            <input type="radio" name="values" value="Every 30 days" />Every 30
            days
          </label>
          <label>
            <input type="radio" name="values" value="Every 60 days" />Every 60
            days
          </label>
          <label>
            <input type="radio" name="values" value="Every 90 days" />Every 90
            days
          </label>
        </div>
        <div class="highlight">
          <span style="font-weight: bold">Note:</span>
          <p>
            At the end of this time frame, customers can buy additional
            vouchers.
          </p>
        </div>
      </div>

      <div>
        <h5>
          Within how many months do customers have to use their vouchers for the
          promotional value?
        </h5>
        <div>
          <button class="count" (click)="decrementvoucher()">-</button>
          <span style="font-weight: 500">{{ vouchercount }}</span>
          <button class="count" (click)="incrementvoucher()">+</button>
        </div>
        <div class="highlight">
          <span style="font-weight: bold">Note:</span>
          <p>
            When a voucher expires, customers can still use the amount paid
            towards your full-priced services.
          </p>
        </div>
      </div>
      <div>
        <h5>Amount paid never expires</h5>
        <div class="highlight">
          <span style="font-weight: bold">Note:</span>
          <p>
            After a customer's Groupon expires, the amount the customer
            originally paid is still valid.
          </p>
        </div>
      </div>
      <a href="">Preview this section</a>
      <div>
        <h4>Optional fine print</h4>
        <p>
          Add optional terms and limits to your campaign, but keep in mind that
          doing so can prevent customers from buying vouchers and may have a
          negative impact on you campaign’s performance.
        </p>
        <div style="display: flex; flex-direction: column; gap: 10px">
          <label>
            <input
              type="checkbox"
              value="Limit Per Booking, table or household"
            />Limit Per Booking, table or household
          </label>
          <label>
            <input type="checkbox" value="Limit Per Visit." />Limit Per Visit.
          </label>
          <label>
            <input type="checkbox" value="Subject to weather." />Subject to
            weather.
          </label>
          <label>
            <input type="checkbox" value="Not valid with offer." />Not valid
            with offer.
          </label>
          <label>
            <input type="checkbox" value="Not valid towards" />Not valid towards
          </label>
          <label>
            <input type="checkbox" value="Excludes delivery." />Excludes
            delivery.
          </label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedSection === 'section6'">
      <h2>Let customers know how to redeem their vouchers.</h2>
      <p>
        Select one method of redemption and let customers know if they need to
        make an appointment in advance. This information will be added to your
        campaign.
      </p>
      <div style="display: flex; flex-direction: column; gap: 10px">
        <label>
          <input
            type="radio"
            name="values"
            value="Customers will visit a physical location."
          />Customers will visit a physical location.
        </label>
        <label>
          <input
            type="radio"
            name="values"
            value="I will travel to my customers."
          />I will travel to my customers.
        </label>
        <label>
          <input
            type="radio"
            name="values"
            value="Customers will use their voucher online."
          />Customers will use their voucher online.
        </label>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedSection === 'section7' && businessInfoSection">
      <ng-container *ngIf="businessInfoSection === 'info1'">
        <h2>Describe your business</h2>
        <p>Introduce customers to your business and tell your story.</p>
        <div>
          <p>Business description</p>
          <textarea
            placeholder="Skilled tailors craft a bespoke Italian cotton shirt in the locally owned, longstanding shop "
            style="
              border: 1px solid rgb(226, 222, 222);
              width: 300px;
              height: 100px;
            "
          >
          </textarea>
        </div>
        <div class="highlight">
          <span style="font-weight: bold">Example:</span>
          <p>
            With a menu of medical-grade aesthetic treatments, Advance Wellness
            MedSpa aims to give clients noticeable results. Just as importantly,
            though, it staffs skilled, dedicated professionals, including
            medical director Rachel George, a board-certified physician with
            more than 20 years of experience.
          </p>
        </div>
        <div style="display: flex; gap: 10px">
          <a href="">Get more help</a>
          <span>|</span>
          <a href="">Preview this section</a>
        </div>
      </ng-container>
      <ng-container *ngIf="businessInfoSection === 'info2'">
        <h2>What’s your business website?</h2>
        <div class="highlight">
          <span style="font-weight: bold">Required:</span>
          <p>
            Provide a valid website or social media page. Groupon requires an
            up-to-date, public website or social media page to verify business
            information and pricing. Your campaign cannot be approved until a
            valid website is provided.
          </p>
        </div>
        <div>
          <p>Business website</p>
          <input
            placeholder=" https://www.abc.com/locations
             "
            style="border: 1px solid rgb(192, 189, 189)"
          />
        </div>
        <div>
          <b>Website requirements</b>
          <ul style="list-style-type: square">
            <li>
              Spelling of the business name on your website must match your
              business name.
            </li>
            <li>Your business name must be listed on the first page.</li>
            <li>Links to social media pages must be your business pages.</li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="businessInfoSection === 'info3'">
        <h2>What type of business are you?</h2>

        <p>Choose the description that best matches your business.</p>
        <div>
          <div>
            <label>
              <input type="radio" name="values" value="option1" />I’m an
              independent contractor, contracting to perform services for
              another company.
            </label>
            <p style="color: rgb(190, 187, 187)">
              Example: I am renting a space (i.e. chair, room, etc.) and using
              the facilities of a company that also provides the service(s).
            </p>
          </div>
          <div>
            <label>
              <input type="radio" name="values" value="option2" />I’m a company
              with 2+ employees performing services.
            </label>
            <p style="color: rgb(190, 187, 187)">
              Example: I am the owner of the contracting entity with more than
              one employee performing the service(s).
            </p>
          </div>
          <div>
            <label>
              <input type="radio" name="values" value="option3" />I’m a third
              party representative involved in the sale of the goods or services
              being sold.
            </label>
            <p style="color: rgb(190, 187, 187)">
              Example: I represent a marketing company and am setting up a
              campaign for a business providing the services.
            </p>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="businessInfoSection === 'info4'">
        <h2>Add your payment information.</h2>
        <p>
          Provide information for the account where you want to receive payments
          owed to you per your merchant agreement.
        </p>
        <div>
          <form>
            <div>
              <label> Bank Name </label>
              <input
                class="bank-input"
                placeholder="Example: Bank of Groupon"
                style="color: rgb(218, 216, 216)"
              />
            </div>
            <div>
              <label> Routing Number </label>
              <input
                class="bank-input"
                placeholder="Example: 123456789"
                style="color: rgb(218, 216, 216)"
              />
            </div>
            <div>
              <label> Bank Account Number </label>
              <input
                class="bank-input"
                placeholder="Example: 123456789"
                style="color: rgb(218, 216, 216)"
              />
            </div>
          </form>
        </div>
        <div style="padding: 20px">
          <b>Where can I find this information?</b>
          <ul style="list-style-type: square">
            <li>On a paper check</li>
            <li>Bank statement</li>
            <li>Bank website or mobile app</li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="businessInfoSection === 'info5'">
        <h2>Add your tax information.</h2>
        <p>
          Select a method to verify your tax information. We use this
          information to confirm payments to your business.
        </p>
        <div
          style="display: flex; flex-direction: column; padding-bottom: 10px"
        >
          <label>
            <input type="radio" name="values" value="option1" />Social Security
            Number
          </label>
          <label>
            <input type="radio" name="values" value="option1" />Employer
            Identification Number (EIN)
          </label>
        </div>
        <div>
          <form>
            <div>
              <label> Business Name on Record</label>
              <input
                class="bank-input"
                placeholder="Example: James Smith"
                style="color: rgb(218, 216, 216)"
              />
            </div>
            <div>
              <label> Employer Identification Number </label>
              <input
                class="bank-input"
                placeholder="Example: 123456789"
                style="color: rgb(218, 216, 216)"
              />
            </div>
          </form>
        </div>
        <div style="padding: 20px">
          <b>Where can I find this information?</b>
          <ul style="list-style-type: square">
            <li>Social Security Card</li>
            <li>Tax returns</li>
            <li>Latest W-2 form</li>
            <li>Bank statements</li>
          </ul>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="selectedSection === 'section8'">
      <h2>Review your campaign.</h2>
      <p>
        Here’s how your campaign will look with the content you’ve added so far.
        Take a last look before you submit your campaign for review.
      </p>
      <br />
      <div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h4>Start date</h4>
          <a>Edit</a>
        </div>
        <p>
          Your campaign will launch within 1-2 business days of submission,
          pending approval. Prefer a later date? Select
        </p>
        <p>Launch date: Jul 12, 2024</p>
      </div>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Options</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Photos</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Highlights</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>About this Deal</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Fine Print</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Voucher Instructions</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>About</h5>
      <hr style="color: rgb(191, 187, 187)" />
      <h5>Business Website</h5>
      <hr style="color: rgb(191, 187, 187)" />
    </ng-container>
  </div>

  <!-- <footer class="fixed-footer">
    <button class="prev">Previous</button>
    <button class="next">Next</button>
  </footer> -->
</div>

<!-- Modal structure -->
<div class="modal" [ngClass]="{ show: isModalOpen }">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <ng-container [ngSwitch]="modalContentType">
      <div *ngSwitchCase="'type1'">
        <h2>Name this option.</h2>
        <div>
          <p>
            Give this option a name that matches an existing service or good on
            your website or menu.
          </p>
          <div>
            <label class="modal-label"> Option name </label>

            <input placeholder="Example:" />
            <p
              style="
                background-color: rgb(240, 214, 176);
                padding: 10px;
                border-radius: 10px;
              "
            >
              <b>Example:</b> Women’s Lower Legs Wax (Both Legs)
            </p>
          </div>
        </div>
        <button class="modal-button" (click)="closeModal()">Cancel</button>
        <button class="modal-button" (click)="closeModal()">Done</button>
      </div>

      <div *ngSwitchCase="'type2'">
        <h2>Remove Option ?</h2>
        <p>If you remove this option, your work will be permanently deleted.</p>
        <button class="modal-button" (click)="closeModal()">Yes, remove</button>
        <button class="modal-button" (click)="closeModal()">Cancel</button>
      </div>
    </ng-container>
  </div>
</div>
