<app-navbar></app-navbar>
<div class="main">
  <div class="left">
    <h1>How Can Groupon Benefit Your Business?</h1>
    <ul>
      <li>
        <span>New Customers:</span> 50%+ of US Groupon purchases are first-time
        customers*.
      </li>
      <li>
        <span> Cost-Effective:</span> No startup costs. Don't pay for views or
        clicks, only acquired customers.
      </li>
      <li>
        <span> Maximize Productivity:</span> When it’s slow, a bookable deal
        reduces vacancies and downtime.
      </li>
      <li>
        <span> Data Insights:</span> View customer info, respond to feedback,
        and improve deal performance.
      </li>
      <li>
        <span> Flexibility:</span> Build and adjust your deal with the
        self-service Campaign Manager.
      </li>
      <li>
        <span> Great for Gifts:</span> Promote holiday offers or boost revenue
        year-round with gift vouchers.
      </li>
      <div style="font-size: small">* August 2020 Qualtrics survey</div>
    </ul>
    <iframe
      src="https://www.youtube.com/embed/kdJ_EArYsjs?rel=0&start&end&controls=1&mute=1&modestbranding=1&cc_load_policy=1"
      style="min-width: 600px; min-height: 300px"
    ></iframe>
    <div class="row2">
      <div class="row2_sub">
        <img
          src="https://img.grouponcdn.com/seocms/2UYDmJwYvgWErNnxW8b2LiqWqTaM/use-groupon-stats-icon-1_png-200x200"
        />
        <p>
          Worked with
          <span style="font-size: large; color: green; font-weight: 700"
            >1 Million +</span
          >
          Small Businesses Globally
        </p>
      </div>
      <div class="row2_sub">
        <img
          src="https://img.grouponcdn.com/seocms/369pstSSbbrW1sKpA6Y7SaawetmE/use-groupon-stats-icon-2_png-200x200"
        />
        <p>
          Generated
          <span style="font-size: large; color: green; font-weight: 700"
            >1.5 Billion+</span
          >
          Transactions Globally
        </p>
      </div>
      <div class="row2_sub">
        <img
          src="https://img.grouponcdn.com/seocms/26nQ7fmQPmXuqvjLTmcsiDh186AG/use-groupon-stats-icon-3_png-200x200"
        />
        <p>
          Pumped into<span
            style="font-size: large; color: green; font-weight: 700"
            >$25 Billion+</span
          >
          into Small Businesses Globally
        </p>
      </div>
    </div>
    <h2>Become a Groupon Merchant in 3 Easy Steps</h2>
    <div class="row3">
      <div class="row3_sub">
        <span style="font-size: xx-large; color: green; font-weight: 700"
          >1</span
        >
        <p>Complete the intake form on this page.</p>
      </div>
      <div class="row3_sub">
        <span style="font-size: xx-large; color: green; font-weight: 700"
          >2</span
        >
        <p>
          Check your email inbox for instructions to create a Groupon Merchant
          account.
        </p>
      </div>
      <div class="row3_sub">
        <span style="font-size: xx-large; color: green; font-weight: 700"
          >3</span
        >
        <p>
          Build a deal with our self-service Campaign Manager and take it live
          in as little as 24 hours.
        </p>
      </div>
    </div>
  </div>
  <div class="right">
    <h2 style="text-align: center">Become a Groupon Merchant!</h2>
    <p style="font-weight: 500; text-align: center; justify-content: center">
      Submit this form, start building campaigns,<br />
      and find new customers.
    </p>
    <div class="form">
      <app-signup></app-signup>
    </div>
  </div>
</div>

<!-- </div> -->
<!-- </div> -->

<!-- <div class="right"> -->
<!-- <p style="font-weight: 500; text-align: center; justify-content: center">
  Submit this form, start building campaigns,<br />
  and find new customers.
</p> -->
<!-- </div> -->
