<div class="forgot-password-container auth">
  <div class="logo">
    <img src="https://www1.grouponcdn.com/merchant/center/login/assets/merchant-logo-vertical-215f9c282a.svg"/>
</div>
  <p class="auth-head" style="font-weight: 200;">
    Enter your email address associated with your Merchant Center, and we will email you a link to reset your password.
  </p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <!-- <label for="email">Email Address</label> -->
        <input type="email" id="email" formControlName="email">
        <div *ngIf="forgotPasswordForm.controls.email.invalid && forgotPasswordForm.controls.email.touched">
          <span *ngIf="forgotPasswordForm.controls.email.errors?.['required']">Email is required.</span>
          <span *ngIf="forgotPasswordForm.controls.email.errors?.['email']">Enter a valid email.</span>
        </div>
      </div>
      <div class="auth-head">
        <a class="auth-a" routerLink="/login"> Nevermind, I remember my password</a>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Reset </button>
    </form>
    <div class="help"><a href="/">Need help?</a><hr /></div>
  </div>
  