<app-navbar></app-navbar>
<div class="rows">
    <p style="font-size: 36px;font-weight: 700;">Promote Your Business with Groupon Merchant</p>
    <p style="text-align: left;">Reach New Customers. Build Loyalty. Become a True Destination.</p>
    <p>Get Started Today with $0 Upfront Costs!</p>
   <div class="rowdivision row1">
      <div class="signup-form">
        <app-signup></app-signup>
      </div>
      <div class="signup-image">
        <img src="https://img.grouponcdn.com/seocms/FTDTHPTVnZy9z8VEMY3TvaZzBPB/foodtruck-woman-smile_1__jpg-900x600" />
      </div>
   </div>

  <div class="rowdivision row2">
      <div class="row2-sec1">
         <img src="https://img.grouponcdn.com/seocms/28pa1Usro2AuKgemHwnicvXHUa3S/woman-laptop-1024x684-1_1__jpg-1024x684"  /> 
      </div>
      <div class="row2-sec2">
         <h2>An Unmatched Way To Attract New Customers And Build Brand Loyalty</h2>
         <p>You have something unique to offer, and you need to reach the people who want to experience it. With Groupon Merchant, you can. We have one of the largest platforms in the world, and a tech-forward approach to getting your offer to the right people. Everyday excellence. Extraordinary experiences. No matter the need, you make it happen. We help you find visitors, and you give them something to remember.</p>
      </div>
  </div>

 <div class="rowdivision row3">
     <div>
         <h2 style="text-align: center;">Unmatched Reach. Unlimited Potential.</h2>
     </div>
     <div class="row3-flex">
         <div class="row3-col">
              <h1 style="font-size: 32px; text-align: center;">19M+</h1>
              <p class="row3-p">Active global customers</p>
         </div>
         <div class="row3-col">
             <h1 style="font-size: 32px;text-align: center;">1M+</h1>
             <p class="row3-p">Merchants worked with Groupon to date</p>
         </div>
     </div>
  </div>


  <div class="rowdivision row4">
      <div class="row4-sec1">
          <h3>Groupon is the Marketplace for Local Experiences</h3>
          <p>Groupon is more than a place to shop for deals. It's where customers around the world explore where to go, what to do, or what to buy today. Here's how Groupon Merchant helps promote your business.</p>
      </div>
      <div class="row4-sec2">
            <div class="tristackrow">
                <div class="tristackrow-col1" >
                    <img src="https://img.grouponcdn.com/seocms/kySc5eESBz6grNEkCgAotAXWnZw/customers-new1_png-208x209/v1/q90.jpg"/>
                </div>
                <div class="tristackrow-col2" >
                    <h5>
                        Find New Audiences
                    </h5>
                    <p>
                        We invest millions in marketing campaigns across web and mobile to bring customers to the Groupon platform.
                    </p>
                </div>
            </div>
            <div class="tristackrow">
                <div class="tristackrow-col1">
                    <img src="https://img.grouponcdn.com/seocms/DB9P6QQkMjKCvynkrBMAim5vy1H/icon_brand_png-371x428/v1/q90.jpg"/>
                </div>
                <div class="tristackrow-col2" >
                    <h5>
                        Boost Brand Loyalty
                    </h5>
                    <p>
                        Groupon is an all-in-one marketing solution with no upfront cost that helps your business to build brand recognition.
                    </p>
                </div>
            </div>
            <div class="tristackrow">
                <div class="tristackrow-col1">
                    <img src="https://img.grouponcdn.com/seocms/KavLdindXrhFx2iLZU5LybaEv15/location_png-319x434/v1/q90.jpg"/>
                </div>
                <div class="tristackrow-col2">
                    <h5>
                        Become the Destination of Choice
                    </h5>
                    <p>
                        People are always looking for their new favorite thing to do. We’ll use our tools to help them find you.
                    </p>
                </div>
            </div>
        </div>
  </div>


  <div class="rowdivision row5">
     <div  class="row5-main">
           <div class="row5-image">
              <img src="https://img.grouponcdn.com/seocms/h79k56cc8kzWq7mBUwNxW1hreN5/business-owner-man-woman_1__jpg-900x600"/>
           </div>
           <div class="row5-content">
               <h2>
                  Working With Groupon Merchant
               </h2>
               <p>
                  Ok, but what's it actually like to work with Groupon Merchant? Learn more about the experience of becoming, well, an experience.
               </p>
               <a href="/">
                  Learn more
               </a>
          </div>
     </div>
 </div>


 <div class="rowdivision row6">
     <div class="icon">
         <img src="blob:https://www.groupon.com/d0cfb121-4845-4709-9f42-30a38d116697" />
     </div>
     <div class="content">
         <div class="content1">
              <div class="links">
                 <a href="/">Merchant Success Stories</a>
                 <a href="/">Sign Up Now!</a>
                 <a href="/">Investor Relations</a>
                 <a href="/">News & Events</a>
                 <a href="/">FAQ & Help</a>
                 <a href="/">About Groupon</a>
                 <a href="/">Careers at Groupon</a>
              </div>
              <div class="subscribe">
                 <p>Subscribe for Updates</p>
                 <input type="email" name="email" placeholder="Email">
              </div>
         </div>
         <div class="content2">
               <div class="icons"></div>
               <div class="terms">
                  <a>Terms of Use</a>
                  <a>Privacy Policy</a>
               </div>
         </div>
         <hr />
         <div class="content3">
               <p> © 2022 - 2024 Groupon, Inc. All Rights Reserved. GROUPON is a registered trademark of Groupon, Inc. </p>
         </div>
     </div>
 </div>
</div>