<nav class="top-nav">
  <div class="nav-title">
    <img src="../download.svg" />
    Campaign Editor
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="onPreviewClick()">
      <i class="fa fa-eye"></i> Preview
    </button>
    <button class="nav-button" (click)="onSaveExitClick()">
      <i class="fa fa-save"></i> Exit
    </button>
    <button class="nav-publish-button" (click)="onHelpClick()">
      <i class="fa fa-question-circle"></i> Publish
    </button>
  </div>
</nav>
<div class="container">
  <div class="main-content">
    <h5>Up to 50% on Pancake/ Waffle House at Lucy Pancake cafe</h5>
    <div style="display: flex; justify-content: space-between">
      <h5>Photos(3)</h5>
      <button class="edit-button">Edit</button>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between">
      <h5>Option1</h5>
      <button class="edit-button">Edit</button>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between">
      <h5>Option 2</h5>
      <button class="edit-button">Edit</button>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between">
      <h5>Highlights</h5>
      <button class="edit-button">Edit</button>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between">
      <h5>Description</h5>
      <button class="edit-button">Edit</button>
    </div>
    <hr />
  </div>
</div>
