<nav class="top-nav">
  <div class="nav-title">
    <img src="../download.svg" />
    Campaign Editor
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="onPreviewClick()">
      <i class="fa fa-eye"></i> Preview
    </button>
    <button class="nav-button" (click)="onSaveExitClick()">
      <i class="fa fa-save"></i> Exit
    </button>
    <button class="nav-publish-button" (click)="onHelpClick()">
      <i class="fa fa-question-circle"></i> Publish
    </button>
  </div>
</nav>
<div class="container">
  <div class="main-content">
    <div *ngIf="item">
      <h2>{{ item.name }}</h2>
      <div>
        <div style="display: flex; justify-content: space-between">
          <h5>Photos(3)</h5>
          <button class="edit-button">Edit</button>
        </div>
        <hr />
        <div *ngFor="let option of item.details; let i = index">
          <div style="display: flex; justify-content: space-between">
            <h5>Option {{ option.id }}</h5>
            <button class="edit-button" (click)="editOption('Option', option)">
              Edit
            </button>
          </div>
          <hr />

          <p>{{ option.option_name }}</p>
          <p>Regular price : {{ option.price.regular_price }}</p>
          <p>Discount price : {{ option.price.discount_price }}</p>
          <p>Discount : {{ option.price.discount }}</p>
          <p>Monthly Voucher : {{ option.price.monthly_voucher }}</p>
        </div>
      </div>
      <div>
        <div style="display: flex; justify-content: space-between">
          <h5>Highlights</h5>
          <button
            class="edit-button"
            (click)="editOption('Highlights', item.highlights)"
          >
            Edit
          </button>
        </div>
        <hr />
        <p>{{ item.highlights }}</p>
      </div>
      <div>
        <div style="display: flex; justify-content: space-between">
          <h5>Description</h5>
          <button
            class="edit-button"
            (click)="editOption('Description', item.description)"
          >
            Edit
          </button>
        </div>
        <hr />
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
